/back-office/node_modules/
/.idea/
/api-gateway/target/
/audit-service/target/
/common/target/
/customer-service/target/
/payment-service/target/
/pricing-service/target/
/ticketing-service/target/
/validation-service/target/
/wallet-service/target/
